doctype html
html(lang="es",ng-app="store")
  head
    title= title
    link(rel="stylesheet",href="css/bootstrap.css")
    block estilos
  body
    block content

    script(type="text/javascript",src="js/angular.js")
    block javascript